form.fdp-contact-form {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;

    div.row {
        float: left;
        width: 100%;
        margin: 0;
        padding: 6px 0;

        > label {
            float: left;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        &.text, &.email {
            input {
                float: left;
                width: 100%;
                max-width: 600px;
            }
        }

        &.textarea {
            textarea {
                float: left;
                width: 100%;
                max-width: 600px;
            }
        }
    }
}
