@import 'thirdparty/_magnific.scss';

.popup {
    position: relative;
    background: #ffffff;
    padding: 30px;
    width: auto;
    max-width: 400px;
    margin: 20px auto;

    p.loading {
        float: left;
        width: 100%;
        padding: 48px 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.6em;
    }

    div.clearer {
        float: none;
        clear: both;
    }
}
